<!--Class and style-->
<h1>Class and style</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name">
<p class="message-error" [class.invalid]="nameInput2.invalid">El campo es requerido</p>
<label>Nombre</label>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="person.name">
<p [style.font-style]="nameInput3.invalid?'italic':'normal'">texto texto texto</p>
<div>
  <div>
    <input type="text" [(ngModel)]="widthImg">
  </div>
  <!--<img width="100" [src]="person.avatar">-->
  <img [style.width.px]="widthImg" [src]="person.avatar"/>
</div>
<hr/>
<!--Uso de *ngSwitch-->
<h1>ngSwitch</h1>
<input type="text" required [(ngModel)]="person.name">
<p *ngIf="person.name==='nico'">
  La person es nico
</p>
<p *ngIf="person.name==='pablo'">
  La person es pablo
</p>
<p *ngIf="person.name==='mati'">
  La person es mati
</p>

<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'nico'">
    La person es nico
  </p>
  <p *ngSwitchCase="'pablo'">
    La person es pablo
  </p>
  <p *ngSwitchCase="'mati'">
    La person es mati
  </p>
<p *ngSwitchDefault>No hace match</p>
</div>
<hr/>
<!--Uso de *ngFor-->
<h1>*ngFor OBJ</h1>
<div class ="products--grid">
  <div *ngFor="let product of products">
    <img [src]="product.image" alt="image">
    <h2>{{product.price}}</h2>
    <p>{{product.name}}</p>

  </div>
</div>
<input type="text" required  [(ngModel)]="newName"/>
<button (click)="addName()">Add name</button>
<ul>
  <li *ngIf="names.length === 0">No hay nombres</li>
  <li *ngFor="let name of names">{{name}}</li>
</ul>
<ul>
  <li *ngFor="let name of names; index as i">
    {{i}} {{name}}
    <button (click)="deleteName(i)">Delete</button>
  </li>

</ul>

<!--Uso de *ngIf -->
<h1>NG *ngIf </h1>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name"/>
<p *ngIf="person.name ==='pablo'">soy pablo</p>
<p *ngIf="person.name ==='raula'&& person.age===18; else elseBlock"  >soy raula</p>
<ng-template #elseBlock>
<p>Bloque de else</p>

</ng-template>
<hr/>
<!--Data binding con ngModel siempre esta pendiente de la interaccion con los eventos
para utilizarlo tenes que avilitarlo en app.models.ts-->
<h1>NG model </h1>
<p>Nombre {{person.name}}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name"/>
<p>Valid {{nameInput.valid}}</p>
<input type="number" max="18" min="10" required #ageInput="ngModel" [(ngModel)]="person.age"/>
<p>Valid {{ageInput.valid}}</p>
<hr/>
<!--Event Binding de Angular eventos en angulaar  -->
<h1>eventos </h1>
<button [disabled] ="btnDisabled">Enviar envento</button>
<button (click)="toggleButton()">Toggle Button</button>
<p>Edad {{person.age}}</p>
<button (click)="increaseAge()">age++</button>
<!-- el scroll de un elemento-->
<div class="box" (scroll)="onScroll($event)">
  <p>
    De esta manera, Git no modificará automáticamente los saltos de línea de los archivos en tu repositorio. También puedes convertir manualmente los saltos de línea de tus archivos al formato deseado antes de agregarlos al repositorio para evitar el warning.
    De esta manera, Git no modificará automáticamente los saltos de línea de los archivos en tu repositorio. También puedes convertir manualmente los saltos de línea de tus archivos al formato deseado antes de agregarlos al repositorio para evitar el warning.

  </p>
</div>
<p>Nonbre {{person.name}}</p>
<input type="text" [value]="person.name"(keyup)="changeName($event)"/>

<hr/>
<!---Property Binding  es modificar atributos y enviarlos hacia html  [value]-->
<h1> Propiedades </h1>
<button [disabled]="btnDisabled">Enviar desde property blinding </button>
<button disabled="false">Enviar</button>
<input type="text" [value]="name"/>
<progress max="100" [value]="age"></progress>
<img width="100" [src]="img"/>
<hr/>
<h1> Propiedades </h1>
<button [disabled]="btnDisabled">Enviar desde property blinding </button>
<button disabled="false">Enviar</button>
<input type="text" [value]="person.name"/>
<progress max="100" [value]="person.age"></progress>
<img width="100" [src]="person.avatar"/>
<hr/>
<!--String interpolation es mandan variables  hacia nuestro html
-->
<h1>hola mundo</h1>
<h2>{{'Hola mundo'.repeat(5)}}</h2>
<p>3+3={{3+3}}</p>
<h3>hola soy {{name}} y tengo {{age}}</h3>
<img src={{img}} alt="image">
