<!--Uso de *ngIf -->
<h1>NG *ngIf </h1>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name"/>
<p *ngIf="person.name ==='pablo'">soy pablo</p>
<p *ngIf="person.name ==='raula'&& person.age===18; else elseBlock"  >soy raula</p>
<ng-template #elseBlock>
<p>Bloque de else</p>

</ng-template>
<hr/>
<!--Data binding con ngModel siempre esta pendiente de la interaccion con los eventos
para utilizarlo tenes que avilitarlo en app.models.ts-->
<h1>NG model </h1>
<p>Nombre {{person.name}}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name"/>
<p>Valid {{nameInput.valid}}</p>
<input type="number" max="18" min="10" required #ageInput="ngModel" [(ngModel)]="person.age"/>
<p>Valid {{ageInput.valid}}</p>
<hr/>
<!--Event Binding de Angular eventos en angulaar  -->
<h1>eventos </h1>
<button [disabled] ="btnDisabled">Enviar envento</button>
<button (click)="toggleButton()">Toggle Button</button>
<p>Edad {{person.age}}</p>
<button (click)="increaseAge()">age++</button>
<!-- el scroll de un elemento-->
<div class="box" (scroll)="onScroll($event)">
  <p>
    De esta manera, Git no modificará automáticamente los saltos de línea de los archivos en tu repositorio. También puedes convertir manualmente los saltos de línea de tus archivos al formato deseado antes de agregarlos al repositorio para evitar el warning.
    De esta manera, Git no modificará automáticamente los saltos de línea de los archivos en tu repositorio. También puedes convertir manualmente los saltos de línea de tus archivos al formato deseado antes de agregarlos al repositorio para evitar el warning.

  </p>
</div>
<p>Nonbre {{person.name}}</p>
<input type="text" [value]="person.name"(keyup)="changeName($event)"/>

<hr/>
<!---Property Binding  es modificar atributos y enviarlos hacia html  [value]-->
<h1> Propiedades </h1>
<button [disabled]="btnDisabled">Enviar desde property blinding </button>
<button disabled="false">Enviar</button>
<input type="text" [value]="name"/>
<progress max="100" [value]="age"></progress>
<img width="100" [src]="img"/>
<hr/>
<h1> Propiedades </h1>
<button [disabled]="btnDisabled">Enviar desde property blinding </button>
<button disabled="false">Enviar</button>
<input type="text" [value]="person.name"/>
<progress max="100" [value]="person.age"></progress>
<img width="100" [src]="person.avatar"/>
<hr/>
<!--String interpolation es mandan variables  hacia nuestro html
-->
<h1>hola mundo</h1>
<h2>{{'Hola mundo'.repeat(5)}}</h2>
<p>3+3={{3+3}}</p>
<h3>hola soy {{name}} y tengo {{age}}</h3>
<img src={{img}} alt="image">
